
<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :header_image %>
    <div class="mt-1">
      <% if post.header_image.present? %>
        <small>Current image:</small>
        <%= image_tag(post.header_image, width: '100%') %>
      <% end%>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary btn-block' %>
  </div>
<% end %>
