<div class="row">
    <div class="col-md-4">
        <%= render 'postHead', post: @post %>
    </div>
    <div class="col-md-8">
        <div class="mb-3">
            <%= form_with(model: [@post, @element], html: { class: 'float-left mr-1' }) do |form| %>
                <%= form.hidden_field :element_type, value: 'paragraph' %>
                <%= button_tag(type: 'submit', class: 'btn btn-secondary') do %>
                    <i class="fas fa-paragraph"></i>
                <% end %>
            <% end %>
            <%= form_with(model: [@post, @element]) do |form| %>
                <%= form.hidden_field :element_type, value: 'image' %>
                <%= button_tag(type: 'submit', class: 'btn btn-secondary') do %>
                    <i class="fas fa-image"></i>
                <% end %>
            <% end %>
        </div>
        <%= render 'postBody', post: @post %>
    </div>
</div>






