<div class="row">
  <div class="col-lg-10 offset-lg-1">
    <div class="card post-card mb-5">
      <div class="show-header-image" style="background-image: url(<%= url_for(@post.header_image) %>)"></div>
      <div class="card-body">
        <div class="pl-5 pr-5 pt-4 pb-4">
          <h1 class="card-title mb-5"><%= @post.title %></h1>
          <% @post.elements.each do |element| %>
            <% if element.image? %>
              <div class="show-image-element mb-5">
                <%= cl_image_tag element.image.key %>
              </div>
            <% else %>
              <div class="content-element mb-5">
                <%= element.content %>
              </div>
            <% end %>
            
          <% end %>

        </div>
        
      </div>

    </div>
    <div class="d-flex justify-content-center container mt-5 mb-5">
      <div class="row card-header">
        <div class="col-sm-5 col-md-6 col-12 pb-4">
          
          <%= render 'form', locals: { post: @post, parent: nil }, class: "mb-5" %>
          <%= render @post.comments.order(id: :desc) %>
          
        </div>
      </div>
    </div> 
  </div>
</div>